NODE_ENV=development
CORS_ORIGINS=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

# Gateway
GATEWAY_PORT=3001
AUTH_SERVICE_URL=http://auth-service:3002
APPOINTMENT_SERVICE_URL=http://appointment-service:3005

# Auth service
AUTH_PORT=3002
AUTH_DATABASE_URL=postgresql://postgres:postgres@auth-db:5432/auth_db?schema=public
JWT_ACCESS_SECRET=super-access-secret
JWT_REFRESH_SECRET=super-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
AUTH_MAX_LOGIN_ATTEMPTS=5
AUTH_LOGIN_LOCK_MINUTES=15

# Appointment service
APPOINTMENT_PORT=3005
APPOINTMENT_DATABASE_URL=postgresql://postgres:postgres@appointment-db:5432/appointment_db?schema=public
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
ELASTICSEARCH_URL=http://elasticsearch:9200
